<div class="mat-box-shadow margin-333">
  <app-demande-list-filter [filterData]="filterData" (applyFilter)="onApplyFilter($event)"></app-demande-list-filter>
  <!--  <form action="your-action" (submit)="onFormSubmit($event)">-->

  <!--  <button *ngIf="bAdmin" title="Export excel" (click)="ExportExcel()">-->
  <!--    <img src="assets/images/excel.png" alt="">-->
  <!--  </button>-->
  <!--  <ngx-datatable class="material bg-white"-->
  <!--                 [columnMode]="'force'"-->
  <!--                 [headerHeight]="50"-->
  <!--                 [footerHeight]="50"-->
  <!--                 [rowHeight]="60"-->
  <!--                 [limit]="8"-->
  <!--                 [rows]="rows"-->
  <!--                 [scrollbarH]="true"-->
  <!--                 >-->
  <!--                 <ngx-datatable-column name="" prop="idPriseEnCharge" width="250">-->
  <!--                   <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>-->
  <!--                     <div *ngIf="bPrescripteur">-->
  <!--                        <button title="Modifier la Demande" (click)="modifier(value)">-->
  <!--                           <img src="../../../../../assets/images/modifier.png" alt="">-->
  <!--                       </button>-->
  <!--                        <button title="Supprimer la Demande" (click)="supprimer(value)">-->
  <!--                           <img src="../../../../../assets/images/supprimer.png" alt="">-->
  <!--                        </button>-->
  <!--                       <button title="Consulter la prise en charge"(click)="PdfVisuDemande(value)">-->
  <!--                         <img src="../../../../../assets/images/transp.png" alt="">-->
  <!--                       </button>-->
  <!--                     </div>-->
  <!--                     <div *ngIf="!bPrescripteur">-->
  <!--                       <button title="Consulter la prise en charge"(click)="PdfVisuDemande(value)">-->
  <!--                         <img src="../../../../../assets/images/transp.png" alt="">-->
  <!--                       </button>-->
  <!--                       <button *ngIf="bChauffeur" title="Facturer la Course" (click)="detail(value)">-->
  <!--                         <img src="../../../../../assets/images/facture.png" alt="">-->
  <!--                       </button>-->
  <!--                       <button title="Visualiser la Facture"  (click)="PdfVisuFacture(value)">-->
  <!--                         <img src="../../../../../assets/images/pdf.png" alt="">-->
  <!--                       </button>-->
  <!--                     </div>-->
  <!--                   </ng-template>-->
  <!--                 </ngx-datatable-column>-->
  <!--&lt;!&ndash;                 <ngx-datatable-column name="fact" prop="idPriseEnCharge">-->
  <!--                   <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>-->
  <!--                     <div *ngIf="value | Facture:row:'a2':'a3'">-->
  <!--                       <button md-button (click)="detail(idPriseEnCharge,'facture')">-->
  <!--                         Facture-->
  <!--                       </button>-->
  <!--                     </div>-->

  <!--                   </ng-template>-->
  <!--                 </ngx-datatable-column>&ndash;&gt;-->

  <!--                 <ngx-datatable-column name="Date" prop="dateDemandeVisu"></ngx-datatable-column>-->
  <!--                 <ngx-datatable-column name="Victime" prop="nomVictime"></ngx-datatable-column>-->
  <!--                 <ngx-datatable-column name="Structure Requerante" prop="structureRequerante"></ngx-datatable-column>-->
  <!--                 <ngx-datatable-column name="Depart" prop="adresseDepart"></ngx-datatable-column>-->
  <!--                 <ngx-datatable-column name="Arrivee" prop="adresseArrivee"></ngx-datatable-column>-->
  <!--                 <ngx-datatable-column name="Demande" prop="noDemande"></ngx-datatable-column>-->
  <!--&lt;!&ndash;                 <div *ngIf="!bPrescripteur">-->
  <!--                    <ngx-datatable-column name="Montant" prop="montant"></ngx-datatable-column>-->
  <!--                    <ngx-datatable-column name="Chauffeur" prop="nomChauffeur"></ngx-datatable-column>-->
  <!--                 </div>-->
  <!--&ndash;&gt;-->
  <!--  </ngx-datatable>-->

  <!--  [dataSource]="rows"-->
  <dx-data-grid
    id="gridContainer"
    [dataSource]="dataSource"
    [remoteOperations]="true"
    [focusedRowEnabled]="true"
    [showBorders]="true"
    [columnAutoWidth]="true"
    wordWrapEnabled="true"
  >
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="[7, 10, 20, 50]"
      [showPageSizeSelector]="true"
      [showInfo]="true"
      [showNavigationButtons]="true"
    >
    </dxo-pager>
    <!--    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>-->

    <dxo-toolbar>
      <dxi-item location="before">
        <dx-button
          text="Filtres"
          icon="filter"
          (onClick)="openFilter()"
        ></dx-button>
        <span>&nbsp;{{ filterText }}</span>
      </dxi-item>
      <dxi-item location="after" *ngIf="bAdmin">
        <dx-button
          text="Export Excel"
          icon="assets/images/excel.png"
          (onClick)="ExportExcel()"
        ></dx-button>
      </dxi-item>
      <dxi-item location="after">
        <div *dxTemplate>
          <dx-button icon="refresh" (onClick)="refreshDataGrid()">
          </dx-button>
        </div>
      </dxi-item>
      <!--      <dxi-item name="columnChooserButton"></dxi-item>-->
      <!--      <dxi-item location="before">-->
      <!--        <dx-button-->
      <!--          text="Test"-->
      <!--          (onClick)="test()"-->
      <!--        ></dx-button>-->
      <!--      </dxi-item>-->
    </dxo-toolbar>

    <dxi-column
      cellTemplate="buttonTemplate"
      caption=""
      [width]="buttonColSize"
      alignment="center"
    ></dxi-column>

    <div *dxTemplate="let e of 'buttonTemplate'">
      <div *ngIf="bPrescripteur">
        <button title="Modifier la Demande" (click)="modifier(e.data.idPriseEnCharge)">
          <img src="assets/images/modifier.png" alt="">
        </button>
        <button title="Supprimer la Demande" (click)="supprimer(e.data.idPriseEnCharge)">
          <img src="assets/images/supprimer.png" alt="">
        </button>
        <button title="Consulter la prise en charge" (click)="PdfVisuDemande(e.data.idPriseEnCharge)">
          <img src="assets/images/transp.png" alt="">
        </button>
      </div>
      <div *ngIf="!bPrescripteur">
        <button title="Consulter la prise en charge" (click)="PdfVisuDemande(e.data.idPriseEnCharge)">
          <img src="assets/images/transp.png" alt="">
        </button>
        <button *ngIf="bChauffeur" title="Modifier la course" (click)="modifierLaCourse(e.data.noDemande)">
          <img src="assets/images/modifier.png" alt="">
        </button>
        <button *ngIf="bChauffeur" title="Facturer la Course" (click)="facturerLaCourse(e.data.noDemande)">
          <img src="assets/images/facture.png" alt="">
        </button>
        <button title="Visualiser la Facture" (click)="PdfVisuFacture(e.data.idPriseEnCharge)">
          <img src="assets/images/pdf.png" alt="">
        </button>
      </div>
    </div>

    <dxi-column dataField="dateDemande" caption="Date" dataType="date" sortOrder="desc"></dxi-column>
    <dxi-column dataField="nomVictime" caption="Victime" [allowSorting]="false"></dxi-column>
    <dxi-column dataField="structureRequerante" caption="Structure Requérante" [allowSorting]="false"></dxi-column>
    <dxi-column dataField="adresseDepart" caption="Départ" [width]="300" [allowSorting]="false"></dxi-column>
    <dxi-column dataField="adresseArrivee" caption="Arrivée" [width]="300" [allowSorting]="false"></dxi-column>
    <dxi-column dataField="noDemande" caption="Demande"></dxi-column>

    <div *dxTemplate="let data of 'cellTemplate'">
      <div>{{ data.value }}</div>
    </div>

  </dx-data-grid>
</div>

<app-view-pdf></app-view-pdf>

<dx-load-panel
  [(visible)]="showGeneratingPDF"
  shadingColor="rgba(0,0,0,0.4)"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  [closeOnOutsideClick]="false"
  message="Préparation du PDF"
>
</dx-load-panel>
