<!--<mat-toolbar class="sticky-toolbar" *ngIf="isDevMode">-->
<!--</mat-toolbar>-->

<!--<dx-toolbar>-->
<!--  <dxi-item-->
<!--    location="before"-->
<!--    widget="dxButton"-->
<!--    [options]="fillValueButtonOptions"-->
<!--  ></dxi-item>-->
<!--</dx-toolbar>-->

<div class="dx-card">
  <!--  <mat-card-title class="">
      <div class="card-title-text"><br><br>Demande<br><br></div>
    </mat-card-title>-->
  <mat-card-content>
    <form *ngIf="DemandeForm" [formGroup]="DemandeForm" (ngSubmit)="CreationDemande()">
      <mat-toolbar class="sticky-toolbar" *ngIf="isDevMode">
        <button
          type="button"
          mat-raised-button
          color="primary"
          [disabled]="executing"
          (click)="fillValues()"
        >Fill values
        </button>
        <button
          mat-raised-button
          color="primary"
          [disabled]="(!isDevMode && DemandeForm.invalid) || executing">Valider
        </button>
      </mat-toolbar>

      <div>
        <fieldset class="width-full">
          <div class="card-title-text">Saisine</div>
        </fieldset>
        <fieldset class="width-full">
          <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input
                    matInput
                    name="pe_datedemande"
                    formControlName="pe_datedemande"
                    placeholder="Date de la demande"
                    [matDatepicker]="appDatepicker">
                  <mat-datepicker-toggle matSuffix [for]="appDatepicker"></mat-datepicker-toggle>
                </mat-form-field>
                <mat-datepicker #appDatepicker></mat-datepicker>
                <app-show-errors [ctrl]="DemandeForm.controls['pe_datedemande']"></app-show-errors>
              </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
              <div class="pb-1">
                <mat-form-field appearance="fill" class="full-width">
                  <mat-label>Structure Requérante</mat-label>
                  <!--                  <mat-select [(value)]="idstructurerequerante" formControlName="idstructurerequerante">-->
                  <mat-select
                    name="idstructurerequerante"
                    formControlName="idstructurerequerante">
                    <mat-option *ngFor="let StructureRequerante of allStructureRequerantes"
                                [value]="StructureRequerante.id">
                      {{StructureRequerante.sr_libelle }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <app-show-errors [ctrl]="DemandeForm.controls['idstructurerequerante']"></app-show-errors>
              </div>
            </div>
          </div>

          <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input
                    matInput
                    name="pe_nomdemandeur"
                    formControlName="pe_nomdemandeur"
                    placeholder="Nom et prénom de la personne en charge du dossier"
                    value="">
                </mat-form-field>
                <app-show-errors [ctrl]="DemandeForm.controls['pe_nomdemandeur']"></app-show-errors>
                <!--                <small-->
                <!--                  *ngIf="DemandeForm.controls['pe_nomdemandeur'].hasError('required') && DemandeForm.controls['pe_nomdemandeur'].touched"-->
                <!--                  class="form-error-msg"> Nom obligatoire </small>-->
                <!--                <small-->
                <!--                  *ngIf="DemandeForm.controls['pe_nomdemandeur'].hasError('maxlength') && DemandeForm.controls['pe_nomdemandeur'].touched"-->
                <!--                  class="form-error-msg"> Au-->
                <!--                  plus {{DemandeForm.controls['pe_nomdemandeur'].errors.maxlength.requiredLength}} caractères pour le-->
                <!--                  nom </small>-->
                <!--              </div>-->
              </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="50">
              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input
                    matInput
                    name="pe_telephone"
                    formControlName="pe_telephone"
                    placeholder="Téléphone (Ligne directe si possible)"
                    value="">
                </mat-form-field>
                <app-show-errors [ctrl]="DemandeForm.controls['pe_telephone']"></app-show-errors>
                <!--                <small-->
                <!--                  *ngIf="DemandeForm.controls['pe_telephone'].hasError('maxlength') && DemandeForm.controls['pe_telephone'].touched"-->
                <!--                  class="form-error-msg"> Au-->
                <!--                  plus {{DemandeForm.controls['pe_telephone'].errors.maxlength.requiredLength}} caractères pour le-->
                <!--                  téléphone </small>-->
              </div>
            </div>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input
                matInput
                name="pe_mail"
                formControlName="pe_mail"
                placeholder="Mail"
                value="">
            </mat-form-field>
            <app-show-errors [ctrl]="DemandeForm.controls['pe_mail']"></app-show-errors>
            <!--            <small-->
            <!--              *ngIf="DemandeForm.controls['pe_mail'].hasError('maxlength') && DemandeForm.controls['pe_mail'].touched"-->
            <!--              class="form-error-msg"> Au plus {{DemandeForm.controls['pe_mail'].errors.maxlength.requiredLength}}-->
            <!--              caractères pour l'adresse mail</small>-->
          </div>
        </fieldset>

        <br>
        <fieldset class="width-full">
          <div class="card-title-text"><br>Personne à véhiculer<br></div>
        </fieldset>


        <fieldset class="width-full">
          <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
              <div class="pb-1">
                <!--                    [formControl]="DemandeForm.controls['vi_nom']"-->
                <mat-form-field class="full-width">
                  <input
                    matInput
                    name="vi_nom"
                    formControlName="vi_nom"
                    placeholder="Nom de Naissance"
                    value="">
                </mat-form-field>
                <app-show-errors [ctrl]="DemandeForm.controls['vi_nom']"></app-show-errors>
                <!--            <small-->
                <!--              *ngIf="DemandeForm.controls['vi_nom'].hasError('required') && DemandeForm.controls['vi_nom'].touched"-->
                <!--              class="form-error-msg"> Nom obligatoire </small>-->
                <!--            <small-->
                <!--              *ngIf="DemandeForm.controls['vi_nom'].hasError('maxlength') && DemandeForm.controls['vi_nom'].touched"-->
                <!--              class="form-error-msg"> Au plus {{DemandeForm.controls['vi_nom'].errors.maxlength.requiredLength}} caractères pour le nom </small>-->
              </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="50">
              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input
                    matInput
                    name="vi_prenom"
                    formControlName="vi_prenom"
                    placeholder="Prénom"
                    value="">
                </mat-form-field>
                <app-show-errors [ctrl]="DemandeForm.controls['vi_prenom']"></app-show-errors>
                <!--                <small-->
                <!--                  *ngIf="DemandeForm.controls['vi_prenom'].hasError('maxlength') && DemandeForm.controls['vi_prenom'].touched"-->
                <!--                  class="form-error-msg"> Au plus {{DemandeForm.controls['vi_prenom'].errors.maxlength.requiredLength}}-->
                <!--                  caractères pour le prenom</small>-->
              </div>
            </div>
          </div>

          <div class="pb-1">
            <mat-form-field class="full-width">
              <input
                matInput
                name="vi_nomusage"
                formControlName="vi_nomusage"
                placeholder="Nom d'usage"
                value="">
            </mat-form-field>
            <app-show-errors [ctrl]="DemandeForm.controls['vi_nomusage']"></app-show-errors>
            <!--            <small-->
            <!--              *ngIf="DemandeForm.controls['vi_nomusage'].hasError('maxlength') && DemandeForm.controls['vi_nomusage'].touched"-->
            <!--              class="form-error-msg"> Au plus {{DemandeForm.controls['vi_nomusage'].errors.maxlength.requiredLength}}-->
            <!--              caractères pour le nom usage</small>-->
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input
                matInput
                name="vi_adresse"
                formControlName="vi_adresse"
                placeholder="Adresse"
                value="">
            </mat-form-field>
            <app-show-errors [ctrl]="DemandeForm.controls['vi_adresse']"></app-show-errors>
            <!--            <small-->
            <!--              *ngIf="DemandeForm.controls['vi_adresse'].hasError('maxlength') && DemandeForm.controls['vi_adresse'].touched"-->
            <!--              class="form-error-msg"> Au plus {{DemandeForm.controls['vi_adresse'].errors.maxlength.requiredLength}}-->
            <!--              caractères pour l'adresse</small>-->
          </div>

          <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input
                    matInput
                    name="vi_telephone"
                    formControlName="vi_telephone"
                    placeholder="Télephone"
                    value="">
                </mat-form-field>
                <app-show-errors [ctrl]="DemandeForm.controls['vi_telephone']"></app-show-errors>
                <!--                <small-->
                <!--                  *ngIf="DemandeForm.controls['vi_telephone'].hasError('maxlength') && DemandeForm.controls['vi_telephone'].touched"-->
                <!--                  class="form-error-msg"> Au-->
                <!--                  plus {{DemandeForm.controls['vi_telephone'].errors.maxlength.requiredLength}} caractères pour le-->
                <!--                  telephone</small>-->
              </div>

            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input
                    matInput
                    name="vi_email"
                    formControlName="vi_email"
                    placeholder="Mail"
                    value="">
                </mat-form-field>
                <app-show-errors [ctrl]="DemandeForm.controls['vi_email']"></app-show-errors>
                <!--                <small-->
                <!--                  *ngIf="DemandeForm.controls['vi_email'].hasError('maxlength') && DemandeForm.controls['vi_email'].touched"-->
                <!--                  class="form-error-msg"> Au plus {{DemandeForm.controls['vi_email'].errors.maxlength.requiredLength}}-->
                <!--                  caractères pour l'email</small>-->
              </div>
            </div>
          </div>
          <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input
                    matInput
                    name="vi_age"
                    formControlName="vi_age"
                    type="number"
                    placeholder="Age"
                    value="">
                </mat-form-field>
                <app-show-errors [ctrl]="DemandeForm.controls['vi_age']"></app-show-errors>
                <!--                <small-->
                <!--                  *ngIf="DemandeForm.controls['vi_age'].hasError('server')"-->
                <!--                  class="form-error-msg"> {{DemandeForm.controls['vi_age'].errors.server}}</small>-->
              </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input
                    matInput
                    name="vi_enfantcharge"
                    formControlName="vi_enfantcharge"
                    type="number"
                    placeholder="Enfant à charge"
                    value="">
                </mat-form-field>
                <app-show-errors [ctrl]="DemandeForm.controls['vi_enfantcharge']"></app-show-errors>
                <!--                <small-->
                <!--                  *ngIf="DemandeForm.controls['vi_enfantcharge'].hasError('server')"-->
                <!--                  class="form-error-msg"> {{DemandeForm.controls['vi_enfantcharge'].errors.server}}</small>-->
              </div>
            </div>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input
                matInput
                name="vi_infocomplementaire"
                formControlName="vi_infocomplementaire"
                placeholder="Informations complémentaires"
                value="">
            </mat-form-field>
            <app-show-errors [ctrl]="DemandeForm.controls['vi_infocomplementaire']"></app-show-errors>
            <!--            <small-->
            <!--              *ngIf="DemandeForm.controls['vi_infocomplementaire'].hasError('maxlength') && DemandeForm.controls['vi_infocomplementaire'].touched"-->
            <!--              class="form-error-msg"> Au-->
            <!--              plus {{DemandeForm.controls['vi_infocomplementaire'].errors.maxlength.requiredLength}} caractères pour les-->
            <!--              informations complementaires</small>-->
          </div>
        </fieldset>

        <br>
        <fieldset class="width-full">
          <div class="card-title-text"><br>Demande<br></div>
        </fieldset>

        <fieldset class="width-full">

          <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input
                    matInput
                    name="de_datealler"
                    formControlName="de_datealler"
                    placeholder="Date Aller"
                    [matDatepicker]="appDateAllerpicker">
                  <mat-datepicker-toggle matSuffix [for]="appDateAllerpicker"></mat-datepicker-toggle>
                </mat-form-field>
                <mat-datepicker #appDateAllerpicker></mat-datepicker>
                <app-show-errors [ctrl]="DemandeForm.controls['de_datealler']"></app-show-errors>
              </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
              <div class="pb-1">
                <label><br>Heure Aller
                  <input type="time"
                         name="de_heurealler"
                         id="de_heurealler"
                         formControlName="de_heurealler">
                  <app-show-errors [ctrl]="DemandeForm.controls['de_heurealler']"></app-show-errors>
                </label>
              </div>
            </div>
          </div>


          <div class="pb-1">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Motif</mat-label>
              <!--              <mat-select [(value)]="idmotif" formControlName="idmotif">-->
              <mat-select formControlName="idmotif">
                <mat-option *ngFor="let motif of allMotifs" [value]="motif.id">
                  {{motif.mo_libelle }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <app-show-errors [ctrl]="DemandeForm.controls['idmotif']"></app-show-errors>
          </div>

          <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-xs="33" class="pr-1">
              <div class="pb-1">
                <Label>Enfant présent lors du trajet <br> </Label>
                <mat-radio-group
                  name="de_enfantpresent"
                  formControlName="de_enfantpresent">
                  <mat-radio-button value="O" class="mr-1">Oui</mat-radio-button>
                  <mat-radio-button value="N">Non</mat-radio-button>
                </mat-radio-group>
              </div>
              <app-show-errors [ctrl]="DemandeForm.controls['de_enfantpresent']"></app-show-errors>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="33" class="pr-1">
              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input
                    matInput
                    name="de_nbenfant"
                    type="number"
                    formControlName="de_nbenfant"
                    placeholder="Si oui nombre?"
                    value="">
                </mat-form-field>
                <app-show-errors [ctrl]="DemandeForm.controls['de_nbenfant']"></app-show-errors>
              </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="33" class="pr-1">
              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input
                    matInput
                    name="de_ageenfant"
                    formControlName="de_ageenfant"
                    placeholder="Age des enfants"
                    value="">
                </mat-form-field>
                <app-show-errors [ctrl]="DemandeForm.controls['de_ageenfant']"></app-show-errors>
              </div>
            </div>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input
                matInput
                name="de_particularite"
                formControlName="de_particularite"
                placeholder="Particularité pour le transport (siège bébé, fauteuil roulant, poussette, bagages)"
                value="">
            </mat-form-field>
            <app-show-errors [ctrl]="DemandeForm.controls['de_particularite']"></app-show-errors>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input
                matInput
                name="de_adressedepart"
                formControlName="de_adressedepart"
                placeholder="Adresse de la prise en charge de la victime"
                value="">
            </mat-form-field>
            <app-show-errors [ctrl]="DemandeForm.controls['de_adressedepart']"></app-show-errors>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input
                matInput
                name="de_adressearrivee"
                formControlName="de_adressearrivee"
                placeholder="Adresse de dépôt de la victime (Attention : non modifiable par la vicitme lors de la prise en charge)"
                value="">
            </mat-form-field>
            <app-show-errors [ctrl]="DemandeForm.controls['de_adressearrivee']"></app-show-errors>
          </div>

          <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-xs="34" class="pr-1">
              <div class="pb-1">
                <Label><br>Aller/Retour </Label>
                <mat-radio-group
                  name="de_allerretour"
                  formControlName="de_allerretour">
                  <mat-radio-button value="O" class="mr-1">Oui</mat-radio-button>
                  <mat-radio-button value="N">Non</mat-radio-button>
                </mat-radio-group>
                <app-show-errors [ctrl]="DemandeForm.controls['de_allerretour']"></app-show-errors>
              </div>

            </div>
            <div fxFlex="100" fxFlex.gt-xs="33" class="pr-1">
              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input
                    matInput
                    name="de_dateretour"
                    formControlName="de_dateretour"
                    placeholder="Date Retour"
                    [matDatepicker]="appDateRetourpicker">
                  <mat-datepicker-toggle matSuffix [for]="appDateRetourpicker"></mat-datepicker-toggle>
                </mat-form-field>
                <mat-datepicker #appDateRetourpicker></mat-datepicker>
                <app-show-errors [ctrl]="DemandeForm.controls['de_dateretour']"></app-show-errors>
              </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="33" class="pr-1">
              <div class="pb-1">
                <label><br>Heure Retour
                  <input type="time"
                         name="de_heureretour"
                         id="de_heureretour"
                         formControlName="de_heureretour">
                  <app-show-errors [ctrl]="DemandeForm.controls['de_heureretour']"></app-show-errors>
                </label>
              </div>
            </div>
          </div>


        </fieldset>

        <br>
        <fieldset class="width-full">
          <div class="card-title-text"><br>Encadré réservé au taxi en charge de la course<br></div>
        </fieldset>
        <fieldset class="width-full">
          <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
              <mat-card-content>
                Date de prise en charge
              </mat-card-content>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
              <mat-card-content>
                Heure de début de prise en charge <br>
                Heure de fin de prise en charge
              </mat-card-content>
            </div>
          </div>

          <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
              <mat-card-content>
                Nom <br>
                Prénom
              </mat-card-content>
            </div>
          </div>

        </fieldset>

      </div>
      <app-show-errors [errorService]="this.errorService"></app-show-errors>
      <!--      <small-->
      <!--        *ngIf="this.errorService.globalErrorMessage"-->
      <!--        class="form-error-msg"> {{this.errorService.globalErrorMessage}}</small>-->
      <button
        mat-raised-button
        color="primary"
        [disabled]="(!isDevMode && DemandeForm.invalid) || executing">Valider
      </button>
    </form>
  </mat-card-content>
</div>

