<mat-card class="p-0">
  <mat-card-title class="">
    <div class="card-title-text">Demande</div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>

    <div>
      {{ variables.NomVictime }} <br>
      {{ variables.AdresseDepart }} <br>
      {{ variables.AdresseArrivee }}
    </div>


    <form [formGroup]="CourseForm" (ngSubmit)="CreationCourse()">
      <div>
        <div fxLayout="row wrap">
          <div fxFlex="100" fxFlex.gt-xs="33" class="pr-1">
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input
                  matInput
                  name="co_date"
                  formControlName="co_date"
                  placeholder="Date"
                  [matDatepicker]="appDatepicker">
                <mat-datepicker-toggle matSuffix [for]="appDatepicker"></mat-datepicker-toggle>
              </mat-form-field>
              <mat-datepicker #appDatepicker></mat-datepicker>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-xs="33" class="pr-1">
            <div class="pb-1">
                <label for="co_heuredebut">Heure Début&nbsp;&nbsp;&nbsp;</label>
                <input type="time"
                  name="co_heuredebut"
                  formControlName="co_heuredebut">
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-xs="33" class="pr-1">
            <div class="pb-1">
                <label for="co_heurefin">Heure Fin&nbsp;&nbsp;&nbsp;</label>
                <input type="time"
                  name="co_heurefin"
                  formControlName="co_heurefin">
            </div>
          </div>
        </div>
        <div fxLayout="row wrap">
          <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input
                  matInput
                  name="co_montant"
                  [formControl]="CourseForm.controls['co_montant']"
                  placeholder="Compteur"
                  value="">
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input
                  matInput
                  name="co_peage"
                  [formControl]="CourseForm.controls['co_peage']"
                  placeholder="Péage"
                  value="">
              </mat-form-field>
            </div>
          </div>
        </div>

      </div>
      <button
          mat-raised-button
          color="primary" [disabled]="CourseForm.invalid">Enregistrer
      </button>
    </form>
  </mat-card-content>
</mat-card>
